@model MVC6Experiment.ViewModel.IndexTemplateView

@{
    ViewBag.Title = "Home Page";
}

@section breadcrumb{
    <ul class="breadcrumbs">
        <li><a class="app-bar-element" href="#">Home</a></li>
    </ul>
}


<div class="row">
    <div class="listview-outlook" data-role="listview" data-on-activate="list_click">

        @if (Model.Templates.Count() == 0)
            {
            <div class="list-content">
                <span class="list-title">No Templates found.</span>
            </div>
        }

        @foreach (var template in Model.Templates.OrderByDescending(tmp => tmp.CreationTime))
            {
            <a class="list" href="@Url.Action("New", "Home", new { id = template.Id })">
                <div class="list-content">
                    <span class="list-title">@template.Title</span>
                    <span class="list-subtitle">Description....</span>
                    <span class="list-remark"><strong>Author:</strong>@template.Author  </span>
                    <span class="list-remark"><strong>Creation Date:</strong>@template.CreationTime  </span>
                </div>
            </a>
        }
    </div>
</div>

@section scripts{
    <script>
        var list_click = function (list) {
            document.location.href = list.attr('href');
        }
    </script>
}