body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.notification-box {
	padding-left: 30px;
	padding-right: 30px;
	margin: 10px;
	padding: 5px;
}

.notification.success {
	background-color: #60a917;
	color: #ffffff;
}

.input-validation-error{
    border: 1px red solid !important; 
}

.field-validation-error{
    color:red;
}

.notification.alert {
	background-color: #ce352c;
	color: #ffffff;
}

.notification.info {
	background-color: #1ba1e2;
	color: #ffffff;
}

.notification.warning {
	background-color: #fa6800;
	color: #ffffff;
}

.input-control.cols{
	width: 46%;
	margin: 15px;
	margin-bottom: 20px;
}

.input-control.select-extra {
	width: 46%;
	margin:15px;
	margin-bottom: 35px;
}

.input-control.textarea-extra {
	width: 100%;
}